@charset "utf-8";
body{font-size:12px;line-height:18px; font-family:Verdana,Arial,Helvetica,sans-serif,微软雅黑;color:#333;background:#f6f6f6 repeat-x left 31px;}
.headerBj{ padding:0;background:url(../img/lvdh.jpg) repeat-x;height:49px;  } 
body,html,ul,li,dl,dt,dd,ol,th,td,form,h1,h2,h3,h4,h5,h6,img,p,input{margin:0px; padding:0px}
img{vertical-align:top;border:0}
button,select,textarea{ outline:none}
textarea{resize:none}
ul,li{list-style-type:none}
.clear{clear:both}
.clearfix:after{content:".";display:block;height:0;clear:both;visibility:hidden;}
.mainListRight{width:750px;}
.productContent{border:1px solid #ebebeb;padding:10px 0;margin-bottom:10px;background:white}
.productContent .buyinfo{width:748px; margin:0 auto}
.productContent .Service{padding-top:0}
.productContent .Service h4 { height:32px; line-height:32px;border-bottom:1px solid #cccccc;background:#f5f5f5;padding-left:12px;font-size:14px; margin-bottom:10px}
.productContent .Service p {border-bottom:1px solid #ebebeb;padding:0 15px 10px 15px}
.iComment .rate{float:left;width:120px;padding20px 0 0;text-align:center;margin-top:-8px;margin-left:20px;margin-right:20px}
.iComment .rate strong{font:normal 46px/30px arial;color:#58a30e}
.iComment .rate span{color:#999;font-family:arial;}
.iComment .rate strong span{font-size:24px;color:#58a30e}
.iComment .percent{float:left;width:210px;height:74px;padding:8px 0;}
.iComment .percent span{color:#9c9a9c}
.iComment .percent dl{padding:2px 0;overflow:hidden;zoom:1;margin-top:5px}
.iComment .percent dt{float:left;width:100px;font-size:16px;}
.iComment .percent dd{float:left;width:100px;height:10px;margin-top:6px;overflow:hidden;background:#efefef}
.iComment .percent dd div{overflow:hidden;height:10px;width:0;background:#58a30e}
.iComment .actor{padding:8px 0;float:right}
.iComment .actor dl{}
.iComment .actor dl dt {float:left;color:grey;line-height:28px;}
.iComment .actor dl dd {float:left;padding:10px 0 0 20px}

/*comment*/
.commentBox {}
.commentBox h3{background:#f5f5f5;height:28px; line-height:28px; font-size:12px; padding-left:16px}
.commentBox p .tip{line-height:22px;height:22px;padding-left:16px;}
.commentBox #star{padding: 0 40px;}
.commentBox #star ul{height:110px;}
.commentBox #star ul li{float:left;width:80px; padding-right:10px;text-align:center;cursor:pointer}
.commentBox #star ul li span{display:block;width:21px; height:21px; margin:15px auto;background:url(../images/bg_star1.png) no-repeat}
.commentBox #star ul li p{color:#444444}
.commentBox #star ul li .on span{background:url(../images/bg_star.png) no-repeat}
.commentBox #star ul li .on p{color:#d80000}
.commentBox .bd{}
.commentBox .bd .textarea_long{width:705px; height:150px; border:1px solid #cccccc;padding:5px;margin:0 0 0 16px; line-height:22px;font-size:12px;}
.commentBox h4{height:28px;line-height:28px;padding-left:16px;}
.commentBox .bd p.g{height:30px;width:717px;padding:10px 0 15px 16px;}
.commentBox .bd p.g label{float:left;}
.commentBox .bd p.g label input .c{margin:4px 5px 0 0;float:left;}
.commentBox .bd p.g label a {color:#085c9b;padding:0 5px;}
.commentBox .bd p.g label a:hover{color:#c00;}
.commentBox .bd p.g .btn_common{float:right;width:62px;height:24px;border:1px solid #cdcdcd;line-height:24px; cursor:pointer;
color:#545454;background:#f0f0f0;background-image:-moz-linear-gradient(top,#ffffff,#ececec);background-image:-webkit-gradient(linear,lrft top,left bottom,color-stop(0,#ffffff),color-stop(1,#ececec));filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff',endColorstr='#ececec',GradientType='0')}


.commentBox .bd p.g.btn_common:hover{background:#f0f0f0;background-image:-moz-linear-gradient(top,#ffffff,#fafafa);background-image:-webkit-gradient(linear,left top,left bottom,color-stop(0,#ffffff),color-stop(1,#fafafa));filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff',endColorstr='#fafafa',GradientType='0')}

.commentBox .bd p.g .word{float:right;padding-right:10px;}
.page .page1 span .f_1 .f6{display:none}
.upshare{line-height:30px;overflow:hidden;padding:10px;float:left;position:relative}
.upshareimg{float:left;width:100%;height:auto;margin-left:15px;}
.upshareimg li{float:left;padding:5px;border:2px solid #99cc00;margin-right:10px;}
.upshareimg li img{width:60px; height:60px;}
.upclosebtn {width:16px; height:16px; background-image:url('/img/close.png') no-repeat;background-position:center center;text-align:center;margin-left:22px;margin-top:8px}
.upclosebtn:hover{cursor:pointer}
.hidden {display:none;}
.btn-add{width:88px;height:30px;float:left;display:block;margin-right:10px; text-align:center;background:url(/img/icon-add.gif) no-repeat 0 0;cursor:pointer}
.btn-add:hover{background:url(/img/icon-add.gif) no-repeat 0 -34px;}
.fileupload {width:88px;height:30px;opacity:0;font-size:100px;filter:alpha(opacity=0);cursor:pointer}
.upbigpreview{position:fixed;display:none;padding:3px;border:5px #3AA318 dashed;z-index:100;max-width:1000px;}
