@CHARSET "UTF-8";
* { margin:0; padding:0;   }
img { border:none; }
body a{border:none;}
 
a:{text-decoration: none; color:black;}
a:link {text-decoration: none;}
a:visited {text-decoration: none;}
a:active {text-decoration: none;}/*消除链接默认样式*/

.brand_all{
	width:500px;
	height:auto;
	line-height:35px;
	font-family:Microsoft Yahei;
	font-size:15px;
	margin: 0 auto;
	color:black;
}

.band_list_all{
	display:block;
	width:500px;
	height:35px;
	clear:left;
	float:left;
	line-height:35px;
	font-family:Microsoft Yahei;
	font-size:15px;
	margin: 0 auto;
	background-color:grey;
	margin-top:10px;
}


.band_list_all a{
	float:left;
	color:white;
}