@CHARSET "UTF-8";

* { margin:0; padding:0;   }
img { border:none; }
body a{border:none;}
 
a:{text-decoration: none;}
a:link {text-decoration: none;}
a:visited {text-decoration: none;}
a:active {text-decoration: none;}/*消除链接默认样式*/


/*logo+导航模块，定义模块居中  */
.head{
display:block;
float:left;
width:1000px; 
height:61px;
margin-top:40px;
overflow:hidden;
}

/*logo模块，定义htm模块高度  */
.logo{
display:block;
clear:left;
width:261px; /*动态定义htm模块/logo的宽度 */
height:61px;/*动态定义htm模块/logo的一致高度 */
float:left;
margin-left:0px;
}

/*logo模块，定义htm模块高度  */
.navi-all{
display:block;
width:auto;
height:61px;
float:left;
margin-left:5px;
color:black;
font-family:Microsoft Yahei;
}
.navi-all-up:hover {
	font-weight:bold;
color:#9a2925;
}

.navi-all-down:hover {
color:#9a2925;
}
#navi0{
float:left;
margin-left:113px;
}

.navi-beside{
width:auto;
height:61px;
float:left;
margin-left:20px;
}

.navi-all-up{
display:block;
width:auto;
height:16px;
line-height:16x;
float:left;
margin-top:13px;
color:black;
font-size:15px;

font-family:Microsoft Yahei;
}

.navi-all-down{
display:block;
width:auto;
height:18px;
line-height:18x;
clear:left;
float:left;
margin-top:30px;
color:black;
font-size:9px;
font-family:Microsoft Yahei;
}

#up-banner{
display:block;
width:1000px;
height:31px;
}

.up-banner-img{
float:left;
display:block;
width:auto;
height:31px;
}
 