@charset "utf-8";
/* CSS Document */
.products{ background:none repeat scroll 0% 0% #B2B662;}

.main-content{ height:790px;}
.product-list{padding-left:10px; float:left; width:700px; height:790px; position:relative; margin-left:25px;}

.line{ left:-15px}

#changpage{ float:right; position:absolute; right:0; bottom:-40px; font-size:12px}
#www_zzjs_net tr{ height:170px;  width:700px; margin-top:20px; margin-left:20px;}
#www_zzjs_net tr{ border-bottom:1px #b2aa9d dashed}
.thumb{ width:140px; height:140px; float:left;}
.title{ font-size:18px; width:100%;}
.info{ width:500px; float:left; padding-left:40px;}
.price{ color:#FFF; font-size:20px;}
.t{ font-size:14px;}
.description{ font-size:14px; line-height:20px; text-indent:2em;}
.Copyright{padding-top:40px;}